.discount {
  height: 32px;
  background: linear-gradient(to right, rgb(0, 163, 255), rgb(0, 163, 255));
  color: white;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.contact_button {
  font-size: "17px";
  text-transform: "uppercase";
  display: "flex";
  align-items: "center";
}

.navouter {
  position: fixed;
  width: 100%;
  z-index: 2;
  scale: 1;
  align-items: center;
  transition: all 0.3s ease-in-out !important;
}

.navbar_animate {
  transform: translateY(-100px);
}

.wave_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 10px;
  height: 58px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 0px 5px black;
  border: 1px solid rgb(8, 134, 203);
  position: relative;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}

.wave_wrapper:hover {
  box-shadow: 1px 1px 15px rgb(2, 52, 79);
}

.wave_wrapper:hover::before {
  top: 20%;
}

.wave_wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 450px;
  height: 450px;
  left: 60%;
  transform: translate(-50%);
  border-radius: 44%;
  background-color: rgb(8, 134, 203);
  border: 1px solid rgb(8, 134, 203);
  animation: wave 18s infinite linear;
  transition: all 1s;
  z-index: -1;
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

.navbar {
  z-index: 1;
  display: flex;
  min-height: 75px;
  padding: 13px 0px;
  height: fit-content;
  background-color: transparent;
  align-items: center;
  justify-content: space-around;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
}

.navbar > div > span {
  font-size: 25px;
  font-weight: bold;
}

.link_active_desk {
  color: rgb(0, 163, 255) !important;
}

.desk_links {
  font-weight: 700;
  display: flex;
  gap: 30px;
}

.desk_links a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  transition-duration: 300ms;
}

.desk_links a:hover {
  color: rgb(0, 163, 255);
}

.blank_screen {
  background-color: black;
  opacity: 0.4;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 4;
  top: 0;
}

.mobile_sidebar {
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  height: 100vh;
  width: 290px;
  flex-direction: column;
  padding: 40px 20px;
  gap: 10px;
  left: -100%;
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.sidebar_anima {
  animation-name: side_anime;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

.sidebar_backward {
  animation-name: side_back;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

@keyframes side_anime {
  100% {
    left: 0;
  }
}

@keyframes side_back {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.mobile_sidebar a {
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  /* color: black; */
  font-size: 17px;
  color: white;
}

.hor_line {
  /* border-bottom: 1px solid rgb(0, 0, 0, 0.1); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: -5px 0px;
}

.mobile_sidebar a:hover {
  background: linear-gradient(to right, rgb(0, 163, 255), rgb(81, 162, 208));
  color: white;
}

.mobile_sidebar a.mobile_active_link {
  background: linear-gradient(to right, rgb(0, 163, 255), rgb(81, 162, 208));
  color: white;
}

.logo {
  color: white;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 0px 0px 10px black;
}

.logoouter {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  gap: 5px;
  margin-bottom: 6px;
}

.logoouter > img {
  width: 70px;
  mix-blend-mode: color-dodge;
}

.sidebar_icon {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .desk_links {
    display: none;
  }

  .sidebar_icon {
    display: block;
  }
}

@media only screen and (max-width: 990px) {
  .wave_wrapper {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    z-index: 1;
    display: flex;
    height: 70px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 6%;
  }
}
